* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    color: #FFF5EE;
}

body {
    overflow-x: hidden;
    background: gray;
    width: 100vw;
}


@font-face {
    font-family: "Ubuntu";
    src: url("../font/UbuntuCondensed-Regular.ttf");
}

@font-face {
    font-family: "Zen";
    src: url("../font/ZenKurenaido-Regular.ttf");
}

.z {
    font-size: 26px;
    font-family: "Zen";
}

.t-96 {
    font-size: 88px;
    margin-left: -6px;
}

.t-64 {
    font-size: 58px;
}

.t-40 {
    font-size: 34px;
}

.t-28 {
    font-size: 24px;
}

.t-24 {
    font-size: 22px;
}


.t-20 {
    font-size: 18px;
}




.container {
    margin: 0 auto;
    width: 1160px;
}

.container2 {
    margin: 0 auto;
    width: 1360px;
}



header .section-head {
    height: 70px;
    background: linear-gradient(to right, rgba(33, 33, 33, 1), rgba(47, 0, 0, 1));
}

header .section-head .container2 {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .section-head .container2 .logo {
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: center;
}

header .section-head .container2 .logo .log {
    background: url("../img/Rectangle\ 30.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .section-head .container2 .links {
    display: flex;
    gap: 20px;
}


main .section-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.5)), url("../img/orig-_1_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


main .section-main .container {
    display: flex;
    padding: 140px 0;
    justify-content: space-between;
}

main .section-main .container .left {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0;

}

main .section-main .container .left .m-h .t-40 {
    margin-top: -8px;
}

main .section-main .container .left button {
    border: 1px solid #FFF5EE;
    width: 150px;
    height: 42px;
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    margin-top: 30px;

}

main .section-main .container .right {
    width: 460px;
    height: 550px;
    background-image: linear-gradient(rgba(75, 0, 0, 0.473), rgba(77, 1, 1, 0.137)), url("../img/943ead56-e164-462c-9ae2-0c80b8ace288.jpg");
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.99;
    background-position: center;
}

main .section-skills {
    padding: 140px 0px;
    background: linear-gradient(to right, rgba(47, 0, 0, 1), rgba(33, 33, 33, 1));
}

main .section-skills .container {
    display: flex;
    justify-content: space-between;
}

main .section-skills .container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    gap: 50px;
}

main .section-skills .container .left .t1 {
    width: 460px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF5EE;
    border-radius: 6px;
}

main .section-skills .container .left .t2 {
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .section-skills .container .left .t3 {
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
